/* CSS Document */
body{ margin:0; padding:0;}
.skdslider{
 height: 519px;
 position: relative;
}
.skdslider ul.slides{ margin:0; padding:0; list-style-type:none;}

.skdslider ul.slides li
{
   height: 519px;
   left: 0;
   position: absolute;
   top: 0;
   display: none;
   width:100%;
}
.skdslider ul.slides li img{
    width: 100%;
	height:100%;
	border:0;
}

.skdslider .slide-navs {
    bottom: 20px;
    left: 50%;
    position: absolute;
	list-style-type: none;
	 margin: 0;
    padding: 0;
}


.skdslider .slide-navs li {
    float: left;
	background: url("image/slide-bg.png") no-repeat scroll 0 0 transparent;
	height:12px;
	width:12px;
	margin-right:4px;
	cursor:pointer;
}
.skdslider .slide-navs li.current-slide {
  background: url("image/slide-bg-active.png") no-repeat scroll 0 0 transparent;
}
.skdslider .slide-desc {
    background: url("image/slide_desc.png") repeat scroll 0 0 transparent;
    left: 0;
    padding: 6px 25px 10px 85px;
    position: absolute;
    top: 327px;
    width: 50%;
}
.skdslider .slide-desc > h2 {
    color: #CFDB0C;
    font-family: 'Oswald';
    font-size: 25px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-transform: uppercase;
}

.skdslider .slide-desc > p {
    color: #FFFFFF;
    font-family: 'Oswald';
    font-size: 16px;
    line-height: 20px;
    margin-top: 5px;
}
.skdslider .slide-desc > p a.more {
    color:#990000;
	font-size:20px;
    float: right;
    height: 18px;
    width: 22px;
	text-decoration:none;
}
.skdslider .slide-desc > p a.more:hover {
text-decoration:underline;
}

.skdslider a.prev{
    background: url("image/left.png") no-repeat scroll 0 0 transparent;
	width:62px;
	height:61px;
	display:block;
	cursor:pointer;
	position:absolute;
	top:44%;
	left:2%;
	opacity:.75;
}

.skdslider a.next{
    background: url("image/right.png") no-repeat scroll 0 0 transparent;
	width:62px;
	height:61px;
	display:block;
	cursor:pointer;
	position:absolute;
	top:44%;
	right:2%;
	opacity:.75;
}
.skdslider a.prev:hover{
  background: url("image/left-hover.png") no-repeat scroll 0 0 transparent;
}
.skdslider a.next:hover{
  background: url("image/right-hover.png") no-repeat scroll 0 0 transparent;
}

.skdslider a.play{
    background: url("image/play.png") no-repeat scroll center center #e1e1e1;
	width:50px;
	height:50px;
	display:none;
	cursor:pointer;
	position:absolute;
	top:44%;
	left:48%;
	opacity:.75;
}

.skdslider a.pause{
    background: url("image/pause.png") no-repeat scroll center center #e1e1e1;
	width:50px;
	height:50px;
	display:none;
	cursor:pointer;
	position:absolute;
	top:44%;
	left:48%;
	opacity:.75;
}